.container{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    padding: 1.5rem;   
    margin: 0 1rem; 
    background-color: #738383;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out; /* Adiciona uma transição suave à sombra */
    border-radius: 10px ;
    transition: .5s;
    width: 80%;
}

.text{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem 4rem;
    align-items: center;
    color: #fff;
}

.text h1{
    font-size: 50px;
}

.text p{
    margin-top: 2rem;
    width: 80%;
    font-size: 17px;

}


.ct-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ct-img img{
    width: 75%;
    border-radius: 10px;
}


@media (max-width: 1300px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    .text{
        width: 100%;
    }
    .ct-img{
        width: 70%;
    }
}