.ct-swiper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ct-swiper img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: relative;
    filter: blur(7px) brightness(0.6);
}

.text-swiper{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    color: #fff;
}